#menu ul,
#menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}

#menu ul {
    width: 100%;
}

#menu li {
    float: left;
    display: inline;
    position: relative;
}

#menu a {
    display: block;
    line-height: 45px;

    text-decoration: none;

}

#menu a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}



#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 45px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}

#menu label {
    display: none;
    line-height: 45px;
    text-align: center;
    position: absolute;
    left: 35px
}

#menu label:before {
    font-size: 1.6em;
    content: "\2261";
    margin-left: 20px;
}

#menu ul.sub-menus {
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #444444;
    position: absolute;
    z-index: 99;
    display: none;
}

#menu ul.sub-menus li {
    display: block;
    width: 100%;
}

#menu ul.sub-menus a {
    color: #FFFFFF;
    font-size: 16px;
}

#menu li:hover ul.sub-menus {
    display: block
}

#menu ul.sub-menus a:hover {
    background: #F2F2F2;
    color: #444444;
}

@media screen and (max-width: 800px) {


    #menu ul {
        background: #111;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none
    }

    #menu ul.sub-menus {
        width: 100%;
        position: static;
    }

    #menu ul.sub-menus a {
        padding-left: 30px;
    }

    #menu li {
        display: block;
        float: none;
        width: auto;
    }

    #menu input,
    #menu label {
        position: absolute;
        top: 0;
        left: 0;
        display: block
    }

    #menu input {
        z-index: 4
    }

    #menu input:checked+label {
        color: white
    }

    #menu input:checked+label:before {
        content: "\00d7"
    }

    #menu input:checked~ul {
        display: block
    }
}

/* ================================================= */
/* ================================================= */
/* ================================================= */
/* paralax efek */
.page {
    perspective: 1px;
    perspective-origin: center center;
}

.overflow {
    position: absolute;
    width: 100vw;
    height: 80vh;
    top: 100vh;
    background-color: #341b14;
}

#parallax {
    transform-style: preserve-3d;
    height: 120vh;
}

.keyart_layer {
    background-position: bottom center;
    background-repeat: repeat-x;
    position: absolute;

}


#keyart-0 {
    z-index: 99;
    transform: translate3d(-11px, -46px, -1.3px) scale(2.3);
}

#keyart-1 {
    transform: translate3d(0, -47px, -.7px) scale(2.0);
}

#keyart-2 {
    transform: translate3d(1000, 180px, -.4px) scale(2.6);
}

#keyart-3 {
    transform: translate3d(0, -2px, -.1px) scale(1.1);
}

#keyart-4 {
    transform: translate3d(0, 35px, .1px) scale(.9);
}

#keyart-5 {
    transform: translate3d(0, 84px, .2px) scale(.8);
}

#keyart-6 {
    transform: translate3d(0, 106px, .3px) scale(.7);
}

#keyart-7 {
    transform: translate3d(0, 106px, .38px) scale(.65);
}

#keyart-8 {
    transform: translate3d(0, 180px, .45px) scale(.8);
}